* {
    margin: 0;
}

body {
    --primary-color: #ffe699;
    --secondary-color: #fff2cc;
    --tertiary-color: #fadb7d;
    --full-day-color: lightcoral;
    --available-day-color: white;
    --closed-day-color: gray;

    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

#color-codes {
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 10px 0 10px 10px;
    background-color: var(--primary-color);
    border: 1px solid black;
}

#color-codes>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

#color-codes p {
    font-size: 60%;
}

#color-codes div>span {
    display:inline-block;
    height: 1em;
    width: 1em;
    border: 1px solid black;
    flex: 0 0 auto;
}

#color-codes #full>span {
    background-color: var(--full-day-color);
}

#color-codes #available>span {
    background-color: white;
}

#color-codes #closed>span {
    background-color: var(--closed-day-color);
}

#calendar-container {
    flex: 1 1 auto;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 7fr;
}

#month-interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

#month-interface button {
    height: 100%;
    width: 25%;
    background-color: var(--tertiary-color);
    border: none;
}

#month-interface button:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

#month-interface button:active {
    filter: brightness(0.8);
    cursor: grabbing;
}

#month-and-year {
    text-align: center;
}

#dates {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

#days-of-week {
    display: flex;
    /* justify-content: space-evenly; */
    background-color: var(--secondary-color);
}

#days-of-month {
    display: flex;
    flex-wrap: wrap;
}

#days-of-week p,
#days-of-month p {
    width: 14.28%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#days-of-month p {
    background-color: var(--available-day-color);
}

/* #days-of-month p:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

#days-of-month p:active {
    filter: brightness(0.8);
    cursor: grabbing;
}

#days-of-month p:empty {
    filter: none;
    cursor: default;
} */

#days-of-month p.full {
    background-color: var(--full-day-color);
    filter: none;
    cursor: default;
}

#days-of-month p.blocked,
#days-of-month > p:nth-child(7n) {
    background-color: var(--closed-day-color);
    color: white;
    filter: none;
    cursor: default;
}