* {
    margin: 0;
}

body {
    font-family: sans-serif;
}

#calendar-container {
    width: 400px;
    /* height: 200px; */
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 7fr;
}

#month-and-year {
    text-align: center;
}

#dates {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

#days-of-week {
    display: flex;
    /* justify-content: space-evenly; */
}

#days-of-month {
    display: flex;
    flex-wrap: wrap;
}

#days-of-week p,
#days-of-month p {
    width: 14.28%;
    text-align: center;
}