* {
    margin: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 400px;
    height: 200px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.dates {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.days {
    display: flex;
    justify-content: space-evenly;
}